.gallery {
  display: flex;
  gap: 1rem;
}

.gallery-item {
  width: 200px;
  cursor: pointer;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

#lightbox-image {
  max-width: 80%;
  max-height: 80%;
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
}
